# Mooncrust-DEV Environment Variables

PORT=3000
NODE_ENV=development

# Optional: Google Gemini Cloud AI API Key (https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=

# Optional: Groq Cloud API Key (https://console.groq.com/keys)
GROQ_API_KEY=
